/* Image Carousel */

.carousel-container {
    position: relative;
    height: 540px;
    background-color: rgb(192, 227, 233);
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    justify-items: center;
    align-items: center;
}
h4 {
    grid-row: 1;
    z-index: 1;
}


.foreground-slide {
    grid-row: 2;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.background-slides {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.slide-wrapper {
    height: 150px;
    width: 150px;
    margin: 2.5px;
    display: none;
}

.slide-wrapper img {
    height: 100%;
    width: 100%;
}


.arrow {
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 1;
    margin-right: 10px;
    cursor: pointer;
}
#left-arrow {
    left: 10px;
}
#right-arrow {
    right: 10px;
}


.navigation-dots {
    grid-row: 3;
    width: 250px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.navigation-dots img {
    width: 15px;
    margin: 5px;
    cursor: pointer;
}